<% layout("layouts/boilerplate") %>

    <!-- Get current location coordinates -->
    <script>
        navigator.geolocation.getCurrentPosition(successLocation, errorLocation, {
            enableHighAccuracy: true
        });

        function successLocation(position) {
            var { latitude, longitude } = position.coords;
            console.log("index.ejs - latitude = ", latitude, "longitude = ", longitude);
            document.getElementById('lgtId').value = longitude;
            document.getElementById('ltdId').value = latitude;
            // document.getElementById('lgtId').disabled = true;
            // document.getElementById('ltdId').disabled = true;
        }

        function errorLocation() {
            alert('Unable to retrieve your location');
        }

        function insertText() {
                document.getElementById('someId').InnerHTML = splitText;
            }
    </script>

    <!-- Shows clusters map in the index page -->
    <div id="cluster-map"></div>
    <!-- Campgrounds index -->
    <h1>All Campgrounds</h1>
    <!-- Search button -->
    <div class="col-md-8 offset-md-2">
        <form action="/campgrounds" class="row g-3" method="GET">
            <div class="input-group mb-3">
                <!-- <label class="form-label" for="search">Search</label> -->
                <input type="search" class="form-control" id="search" name="search" placeholder="Search campgrounds">
                <div class="input-group-append">
                    <!-- <button class="btn btn-secondary" type="button">
                        <i class="fa fa-search"></i>
                    </button> -->
                    <input class="btn btn-secondary" type="submit" style="font-family: FontAwesome" value="&#xf002;" />
                    <!-- <input class="btn btn-secondary" type="button" style="font-family: FontAwesome" value="&#xf00d;" /> -->

                </div>
                
                <input class="form-control" type="number" id="distance" name="distance" placeholder="distance (Km)" />
                <div class="input-group input-group-sm">    
                    <input type="hidden" class="form-control" id="ltdId" name="ltdId">
                    <input type="hidden" class="form-control" id="lgtId" name="lgtId">
                </div>
            </div>

        </form>
    </div>

    <div>
        <a href="/campgrounds/new">New Campground</a>
    </div>
    <% for (let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images.length) {%>
                        <img crossorigin="anonymous" class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                        <% } else {%>
                            <img crossorigin="anonymous" class="img-fluid" alt=""
                                src="https://res.cloudinary.com/dzmynvqbz/image/upload/v1705938064/YelpCamp/owsffrzunk6htgxgjvc9.jpg">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-body-tertiary">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <!-- Allows to access mapToken and campgrounds in clusterMap.js -->
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        // Mapbox expects an array of data under the key of "features"
        const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
        const mapSession = <%-JSON.stringify(session)%>;
    </script>

    <script src="/javascripts/clusterMap.js"></script>


    