<% layout("layouts/boilerplate") %>
    <!-- Shows clusters map in the index page -->
    <div id="cluster-map"></div>
    <!-- Campgrounds index -->
    <h1>All Campgrounds</h1>
    <div>
        <a href="/campgrounds/new">New Campground</a>
    </div>
    <% for (let campground of campgrounds) { %>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if (campground.images.length) {%>
                        <img crossorigin="anonymous" class="img-fluid" alt="" src="<%=campground.images[0].url%>">
                        <% } else {%>
                            <img crossorigin="anonymous" class="img-fluid" alt=""
                                src="https://res.cloudinary.com/dzmynvqbz/image/upload/v1705938064/YelpCamp/owsffrzunk6htgxgjvc9.jpg">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= campground.title %>
                        </h5>
                        <p class="card-text">
                            <%= campground.description %>
                        </p>
                        <p class="card-text">
                            <small class="text-body-tertiary">
                                <%= campground.location %>
                            </small>
                        </p>
                        <a class="btn btn-primary" href="/campgrounds/<%=campground._id%>">View <%=campground.title%></a>
                    </div>
                </div>
            </div>
        </div>
    <% } %>

    <!-- Allows to access mapToken and campgrounds in clusterMap.js -->
    <script>
        const mapToken = '<%-process.env.MAPBOX_TOKEN%>';
        // Mapbox expects an array of data under the key of "features"
        const campgrounds = {features: <%-JSON.stringify(campgrounds)%>};
    </script>

    <script src="/javascripts/clusterMap.js"></script>


    